In [1]:
import pandas as pd

medical_data = pd.read_csv("Dataset/medical_students_dataset.csv")

df = pd.DataFrame(medical_data)
df.head()

,Student ID,Age,Gender,Height,Weight,Blood Type,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Diabetes,Smoking
0,1.0,18.0,Female,161.777924,72.354947,O,27.645835,NaN,95.0,109.0,203.0,No,NaN
1,2.0,NaN,Male,152.069157,47.630941,B,NaN,98.714977,93.0,104.0,163.0,No,No
2,3.0,32.0,Female,182.537664,55.741083,A,16.729017,98.260293,76.0,130.0,216.0,Yes,No
3,NaN,30.0,Male,182.112867,63.332207,B,19.096042,98.839605,99.0,112.0,141.0,No,Yes
4,5.0,23.0,Female,NaN,46.234173,O,NaN,98.480008,95.0,NaN,231.0,No,No

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Student ID      180000 non-null  float64
 1   Age             180000 non-null  float64
 2   Gender          180000 non-null  object
 3   Height          180000 non-null  float64
 4   Weight          180000 non-null  float64
 5   Blood Type      180000 non-null  object
 6   BMI             180000 non-null  float64
 7   Temperature     180000 non-null  float64
 8   Heart Rate      180000 non-null  float64
 9   Blood Pressure  180000 non-null  float64
 10  Cholesterol     180000 non-null  float64
 11  Diabetes        180000 non-null  object
 12  Smoking         180000 non-null  object
dtypes: float64(9), object(4)
memory usage: 19.8+ MB

In [13]:
df.isnull().sum()

Student ID        20000
Age               20000
Gender            20000
Height            20000
Weight            20000
Blood Type        20000
BMI                3772
Temperature       20000
Heart Rate        20000
Blood Pressure    20000
Cholesterol       20000
Diabetes          20000
Smoking           20000
Height(m)         20000
Height_m          20000
dtype: int64

In [19]:
#height data were not in meter so converting to meter
df["Height_m"] = df["Height"]/100

mising_bmi_mask = df["BMI"].isnull()

# BMI = weight(kg) / [height(m)]Â²

df.loc[mising_bmi_mask, "BMI"] = df.loc[mising_bmi_mask, "Weight"] / (df.loc[mising_bmi_mask, "Height_m"]**2)

df.drop("Height_m", axis=1, inplace=True)

mising_bmi_mask.sum()

np.int64(3772)

In [21]:
df.isnull().sum()

Student ID        20000
Age               20000
Gender            20000
Height            20000
Weight            20000
Blood Type        20000
BMI                3772
Temperature       20000
Heart Rate        20000
Blood Pressure    20000
Cholesterol       20000
Diabetes          20000
Smoking           20000
dtype: int64

In [24]:
print(f"\nNumber of duplicate rows: {df.duplicated().sum()}")

Number of duplicate rows: 8822

In [25]:
df.shape

(200000, 13)

In [28]:
if df.duplicated().sum() > 0:
    print(f"Duplicate rows found ")
    print(df[df.duplicated(keep=False)])

    df = df.drop_duplicates(keep="first")
    print(f"after removing shape: {df.shape}")
else:
    print("No duplicate rows found Dataset is clean")

No duplicate rows found Dataset is clean

In [29]:
df.shape

(191178, 13)

In [30]:
print("\n" + "="*50)
print("FINAL DATASET STATUS")
print("="*50)
print(f"Final Shape       : {df.shape}")
print(f"Missing Values    : {df.isnull().sum().sum()}")
print(f"Duplicate Rows    : {df.duplicated().sum()}")
print("\nData Types:")
print(df.dtypes)

==================================================
FINAL DATASET STATUS
==================================================
Final Shape       : (191178, 13)
Missing Values    : 242461
Duplicate Rows    : 0

Data Types:
Student ID        float64
Age               float64
Gender             object
Height            float64
Weight            float64
Blood Type         object
BMI               float64
Temperature       float64
Heart Rate        float64
Blood Pressure    float64
Cholesterol       float64
Diabetes           object
Smoking            object
dtype: object

In [33]:
df.isnull().sum()

Student ID        19877
Age               19878
Gender            19912
Height            19907
Weight            19901
Blood Type        19895
BMI                3771
Temperature       19895
Heart Rate        19886
Blood Pressure    19880
Cholesterol       19884
Diabetes          19891
Smoking           19884
dtype: int64

In [37]:


df["height_m"] = df['Height']/100

can_fix_bmi = df["BMI"].isnull() & df["Height"].notnull() & df["Weight"].notnull()


df.loc[can_fix_bmi, "BMI"] = df.loc[can_fix_bmi, "Weight"]/(df.loc[can_fix_bmi, "height_m"]**2)

df.drop('height_m', axis=1, inplace=True )

df["BMI"].isnull().sum()

/var/folders/yx/x88lcnsd4p1bzqmbyq5p6str0000gn/T/ipykernel_7609/3332230691.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["height_m"] = df['Height']/100
/var/folders/yx/x88lcnsd4p1bzqmbyq5p6str0000gn/T/ipykernel_7609/3332230691.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('height_m', axis=1, inplace=True )

np.int64(3771)

In [38]:
df.isnull().sum()

Student ID        19877
Age               19878
Gender            19912
Height            19907
Weight            19901
Blood Type        19895
BMI                3771
Temperature       19895
Heart Rate        19886
Blood Pressure    19880
Cholesterol       19884
Diabetes          19891
Smoking           19884
dtype: int64

In [55]:
numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns.tolist()

categorical_cols = df.select_dtypes(exclude="float64").columns.tolist()

numeric_cols
categorical_cols

['Gender', 'Blood Type', 'Diabetes', 'Smoking']

In [56]:


for col in categorical_cols:
    if df[col].isnull().sum() > 0:
        most_common = df[col].mode()[0]
        df[col].fillna(most_common, inplace=True)
        

df[categorical_cols].isnull().sum()

Gender        0
Blood Type    0
Diabetes      0
Smoking       0
dtype: int64

In [57]:
df[numeric_cols].isnull().sum()

Student ID        19877
Age               19878
Height            19907
Weight            19901
BMI                3771
Temperature       19895
Heart Rate        19886
Blood Pressure    19880
Cholesterol       19884
dtype: int64

In [58]:
from sklearn.impute import KNNImputer

body_cols = ['Height', 'Weight', 'BMI']

knn_imputer = KNNImputer(n_neighbors=5)

df[body_cols] = knn_imputer.fit_transform(df[body_cols])

/var/folders/yx/x88lcnsd4p1bzqmbyq5p6str0000gn/T/ipykernel_7609/2508774413.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[body_cols] = knn_imputer.fit_transform(df[body_cols])

In [59]:
df[body_cols].isnull().sum()

Height    0
Weight    0
BMI       0
dtype: int64

In [60]:
for col in numeric_cols:
    if df[col].isnull().sum() > 0:
        median_value = df[col].median()
        df[col].fillna(median_value, inplace=True)

/var/folders/yx/x88lcnsd4p1bzqmbyq5p6str0000gn/T/ipykernel_7609/3428628883.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_value, inplace=True)
/var/folders/yx/x88lcnsd4p1bzqmbyq5p6str0000gn/T/ipykernel_7609/3428628883.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].fillna(median_value, inplace=True)
/var/folders/yx/x88lcnsd4p1bzqmbyq5p6str0000gn/T/ipykernel_7609/3428628883.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_value, inplace=True)
/var/folders/yx/x88lcnsd4p1bzqmbyq5p6str0000gn/T/ipykernel_7609/3428628883.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].fillna(median_value, inplace=True)
/var/folders/yx/x88lcnsd4p1bzqmbyq5p6str0000gn/T/ipykernel_7609/3428628883.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_value, inplace=True)
/var/folders/yx/x88lcnsd4p1bzqmbyq5p6str0000gn/T/ipykernel_7609/3428628883.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].fillna(median_value, inplace=True)
/var/folders/yx/x88lcnsd4p1bzqmbyq5p6str0000gn/T/ipykernel_7609/3428628883.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_value, inplace=True)
/var/folders/yx/x88lcnsd4p1bzqmbyq5p6str0000gn/T/ipykernel_7609/3428628883.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].fillna(median_value, inplace=True)
/var/folders/yx/x88lcnsd4p1bzqmbyq5p6str0000gn/T/ipykernel_7609/3428628883.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_value, inplace=True)
/var/folders/yx/x88lcnsd4p1bzqmbyq5p6str0000gn/T/ipykernel_7609/3428628883.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].fillna(median_value, inplace=True)
/var/folders/yx/x88lcnsd4p1bzqmbyq5p6str0000gn/T/ipykernel_7609/3428628883.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_value, inplace=True)
/var/folders/yx/x88lcnsd4p1bzqmbyq5p6str0000gn/T/ipykernel_7609/3428628883.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].fillna(median_value, inplace=True)

In [64]:
df[numeric_cols].isnull().sum()
df[categorical_cols].isnull().sum()

Gender        0
Blood Type    0
Diabetes      0
Smoking       0
dtype: int64

,Student ID,Age,Gender,Height,Weight,Blood Type,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Diabetes,Smoking
199995,49963.0,24.0,Male,176.503260,95.756997,B,30.737254,99.170685,65.0,121.0,130.0,No,No
199996,99997.0,29.0,Female,163.917675,45.225194,O,16.831734,97.865785,62.0,125.0,198.0,No,Yes
199997,99998.0,34.0,Female,160.808417,99.648914,O,33.189303,98.768210,60.0,90.0,154.0,No,No
199998,99999.0,30.0,Female,156.446944,50.142824,A,20.486823,98.994212,61.0,106.0,225.0,No,No
199999,100000.0,20.0,Female,153.927409,99.928405,O,42.175189,98.595817,95.0,133.0,132.0,No,No

In [67]:
df['Student ID'] = range(1, len(df)+ 1)

/var/folders/yx/x88lcnsd4p1bzqmbyq5p6str0000gn/T/ipykernel_7609/1069776245.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Student ID'] = range(1, len(df)+ 1)

In [68]:
df.head()

,Student ID,Age,Gender,Height,Weight,Blood Type,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Diabetes,Smoking
0,1,18.0,Female,161.777924,72.354947,O,27.645835,98.599430,95.0,109.0,203.0,No,No
1,2,26.0,Male,152.069157,47.630941,B,20.597139,98.714977,93.0,104.0,163.0,No,No
2,3,32.0,Female,182.537664,55.741083,A,16.729017,98.260293,76.0,130.0,216.0,Yes,No
3,4,30.0,Male,182.112867,63.332207,B,19.096042,98.839605,99.0,112.0,141.0,No,Yes
4,5,23.0,Female,167.806322,46.234173,O,16.579583,98.480008,95.0,115.0,231.0,No,No

In [69]:
df.tail()

,Student ID,Age,Gender,Height,Weight,Blood Type,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Diabetes,Smoking
199995,191174,24.0,Male,176.503260,95.756997,B,30.737254,99.170685,65.0,121.0,130.0,No,No
199996,191175,29.0,Female,163.917675,45.225194,O,16.831734,97.865785,62.0,125.0,198.0,No,Yes
199997,191176,34.0,Female,160.808417,99.648914,O,33.189303,98.768210,60.0,90.0,154.0,No,No
199998,191177,30.0,Female,156.446944,50.142824,A,20.486823,98.994212,61.0,106.0,225.0,No,No
199999,191178,20.0,Female,153.927409,99.928405,O,42.175189,98.595817,95.0,133.0,132.0,No,No

In [70]:
df['Student ID'] = range(1, len(df) + 1)

/var/folders/yx/x88lcnsd4p1bzqmbyq5p6str0000gn/T/ipykernel_7609/2902345507.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Student ID'] = range(1, len(df) + 1)

In [71]:
df.tail()

,Student ID,Age,Gender,Height,Weight,Blood Type,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Diabetes,Smoking
199995,191174,24.0,Male,176.503260,95.756997,B,30.737254,99.170685,65.0,121.0,130.0,No,No
199996,191175,29.0,Female,163.917675,45.225194,O,16.831734,97.865785,62.0,125.0,198.0,No,Yes
199997,191176,34.0,Female,160.808417,99.648914,O,33.189303,98.768210,60.0,90.0,154.0,No,No
199998,191177,30.0,Female,156.446944,50.142824,A,20.486823,98.994212,61.0,106.0,225.0,No,No
199999,191178,20.0,Female,153.927409,99.928405,O,42.175189,98.595817,95.0,133.0,132.0,No,No

In [72]:
df = df.reset_index(drop=True)

In [73]:
df.tail()

,Student ID,Age,Gender,Height,Weight,Blood Type,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Diabetes,Smoking
191173,191174,24.0,Male,176.503260,95.756997,B,30.737254,99.170685,65.0,121.0,130.0,No,No
191174,191175,29.0,Female,163.917675,45.225194,O,16.831734,97.865785,62.0,125.0,198.0,No,Yes
191175,191176,34.0,Female,160.808417,99.648914,O,33.189303,98.768210,60.0,90.0,154.0,No,No
191176,191177,30.0,Female,156.446944,50.142824,A,20.486823,98.994212,61.0,106.0,225.0,No,No
191177,191178,20.0,Female,153.927409,99.928405,O,42.175189,98.595817,95.0,133.0,132.0,No,No

In [75]:
df.head()

,Student ID,Age,Gender,Height,Weight,Blood Type,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Diabetes,Smoking
0,1,18.0,Female,161.777924,72.354947,O,27.645835,98.599430,95.0,109.0,203.0,No,No
1,2,26.0,Male,152.069157,47.630941,B,20.597139,98.714977,93.0,104.0,163.0,No,No
2,3,32.0,Female,182.537664,55.741083,A,16.729017,98.260293,76.0,130.0,216.0,Yes,No
3,4,30.0,Male,182.112867,63.332207,B,19.096042,98.839605,99.0,112.0,141.0,No,Yes
4,5,23.0,Female,167.806322,46.234173,O,16.579583,98.480008,95.0,115.0,231.0,No,No

In [76]:
df['Age'] = df['Age'].round().astype(int)

df.head()

,Student ID,Age,Gender,Height,Weight,Blood Type,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Diabetes,Smoking
0,1,18,Female,161.777924,72.354947,O,27.645835,98.599430,95.0,109.0,203.0,No,No
1,2,26,Male,152.069157,47.630941,B,20.597139,98.714977,93.0,104.0,163.0,No,No
2,3,32,Female,182.537664,55.741083,A,16.729017,98.260293,76.0,130.0,216.0,Yes,No
3,4,30,Male,182.112867,63.332207,B,19.096042,98.839605,99.0,112.0,141.0,No,Yes
4,5,23,Female,167.806322,46.234173,O,16.579583,98.480008,95.0,115.0,231.0,No,No

In [77]:
for col in numeric_cols:
    if col in df.columns:
        df[col] = df[col].round().astype(int)

In [78]:
df.head()

,Student ID,Age,Gender,Height,Weight,Blood Type,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Diabetes,Smoking
0,1,18,Female,162,72,O,28,99,95,109,203,No,No
1,2,26,Male,152,48,B,21,99,93,104,163,No,No
2,3,32,Female,183,56,A,17,98,76,130,216,Yes,No
3,4,30,Male,182,63,B,19,99,99,112,141,No,Yes
4,5,23,Female,168,46,O,17,98,95,115,231,No,No

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191178 entries, 0 to 191177
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Student ID      191178 non-null  int64
 1   Age             191178 non-null  int64
 2   Gender          191178 non-null  object
 3   Height          191178 non-null  int64
 4   Weight          191178 non-null  int64
 5   Blood Type      191178 non-null  object
 6   BMI             191178 non-null  int64
 7   Temperature     191178 non-null  int64
 8   Heart Rate      191178 non-null  int64
 9   Blood Pressure  191178 non-null  int64
 10  Cholesterol     191178 non-null  int64
 11  Diabetes        191178 non-null  object
 12  Smoking         191178 non-null  object
dtypes: int64(9), object(4)
memory usage: 19.0+ MB

In [81]:
df.to_csv("Final_clean_medical_data.csv", index=False)

In [82]:
df['Temperature'].skew()

np.float64(-0.23209896939051022)